<app-weather-report (cityNames)="displayCity($event)"></app-weather-report>

<div class="home-favourite">
    <div *ngIf="!recentSearchhistory" class="emptyList">
        <app-empty-list [message]="'No Recent Search'"></app-empty-list>
    </div>
    <div *ngIf="recentSearchhistory" class="favouriteCities">
        <div class="favourites">
            <p>You recently searched for</p>
            <button type="button" (click)="clearAll()">Remove All</button>
        </div>
        <app-lists [data]="data"></app-lists>
    </div>
</div>
