@import '../../variables.scss';


.header {
  position: absolute;
  top: 24%;
  left: 7.5rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  letter-spacing: 0;
  height: 70%;
  color: #ffffff;
  width: calc(100vw - 17.4rem);

  .header-body {
    position: relative;

    .displayDate {
      display: none;
    }

    .country {
      padding: 0 0.625rem;
      position: relative;
      top: 2rem;
      font-size: 1.25rem;
      line-height: 1.5rem;

      .location {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 500;
      }

      .favourite {
        height: 1.875rem;
        margin-bottom: 0px;

        button {
          border: none;
          z-index: 2;
          background-color: rgba(255, 255, 255, 0);
          font-size: 13px;
          padding-bottom: 10px;
          position: relative;

          &:focus {
            outline: none;
          }


          .isFav {
            font-size: 20px;
            position: relative;
            left: -32%;

            .icon-heart-empty {
              position: relative;
              left: -12%;
            }


            h6 {
              font-size: 13px;
              position: relative;
              top: -30px;
              left: 54%;
              font-weight: 400;
            }
          }

          .addedToFav {
            font-size: 20px;
            position: relative;
            left: -32%;

            .fa {
              position: relative;
              left: -13%;
            }

            h6 {
              font-size: 13px;
              position: relative;
              top: -30px;
              left: 51%;
              font-weight: 400;
            }
          }
        }
      }
    }

    .sunny {
      position: relative;
      top: 7.125rem;
      left: 52%;
      transform: translate(-50%, -50%);
      width: auto;
      text-align: center;
      color: #FFFFFF;
      font-weight: 400;

      img {
        position: relative;
        left: -1.8%;
      }

      p {
        font-size: 64px;
        height: 75px;
        width: 100%;
        color: #FFFFFF;
        font-weight: 500;
        align-items: center;
      }

      .fahrenite {
        width: 2rem;
        height: 31px;
        border-radius: 2px;
        font-size: 16px;
        color: #ffffff;
        // background-color: rgba(255, 255, 255, 0);
        border: 1px solid #ffffff;
        position: relative;
        left: -1.35rem;
        padding-left: 2px;

        &:focus {
          outline: none;
        }

        span {
          content: "\00B0";
          font-size: 22px;
          position: relative;
          left: -1px;
          top: -4px;
        }
      }

      .degree {
        width: 2rem;
        height: 31px;
        border-radius: 2px;
        font-size: 16px;
        color: #E32843;
        // background-color: #ffffff;
        border: 1px solid #ffffff;
        position: relative;
        left: -1.2rem;
        padding-left: 0px;

        &:focus {
          outline: none;
        }

        span {
          content: "\00B0";
          font-size: 22px;
          position: relative;
          left: 1%;
          top: -4px;
        }
      }

      h6 {
        color: #FFFFFF;
        font-weight: 500;
        text-align: center;
        left: -2.2%;
        height: 1.5rem;
        font-size: 1.375rem;
        line-height: 1.5rem;
      }
    }
  }

  .header-footer {
    font-size: 15px;
    color: white;
    width: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    padding: 0 0.625rem 0.5rem;
    border-top: solid 1px #ffffff4d;
    overflow-x: auto;
    height: 6.4rem;
    overflow-y: hidden;

    .details {
      width: 100%;
      height: 3.5rem;
      margin-top: 2rem;
      display: inline-flex;
      color: #FFFFFF;
      margin-left: 3rem;

      .temperature {
        width: 14rem;
        margin-right: 1rem;
        height: 100%;
        min-width: 8rem;

        p {
          position: relative;
          top: -38px;
          margin-left: 2rem;
        }

        h4 {
          position: relative;
          top: -49px;
          margin-left: 2rem;
          font-size: 22px;
          font-weight: 500;

          span {
            content: "\00B0";
          }
        }
      }

      .precipitation {
        width: 14rem;
        margin-right: 1.5rem;
        height: 100%;
        min-width: 9rem;

        p {
          position: relative;
          top: -34px;
          margin-left: 3rem;
        }

        h4 {
          position: relative;
          top: -45px;
          margin-left: 3rem;
          font-size: 22px;
          font-weight: 500;
        }
      }

      .humidity {
        width: 14rem;
        margin-right: 1rem;
        height: 100%;
        min-width: 8rem;

        p {
          position: relative;
          top: -34px;
          margin-left: 2.5rem;
        }

        h4 {
          position: relative;
          top: -45px;
          margin-left: 2.5rem;
          font-size: 22px;
          font-weight: 500;
        }
      }

      .wind {
        width: 14rem;
        margin-right: 1.5rem;
        height: 100%;
        min-width: 10rem;

        p {
          position: relative;
          top: -29px;
          margin-left: 3.4rem;
        }

        h4 {
          position: relative;
          top: -40px;
          margin-left: 3.4rem;
          font-size: 22px;
          font-weight: 500;
        }
      }

      .visibility {
        width: 14rem;
        height: 100%;
        min-width: 9rem;

        p {
          position: relative;
          top: -29px;
          margin-left: 3.4rem;
        }

        h4 {
          position: relative;
          top: -38px;
          margin-left: 3.4rem;
          font-size: 22px;
          font-weight: 500;
        }
      }
    }
  }

  #mySidebar {
    display: none;
  }
}


@media screen and (max-width: 400px) {

  .header {
    position: absolute;
    left: 0;
    height: calc(94vh - 2.5rem);
    width: 103%;
    padding: 0;
    top: 15vh;

    .header-body {

      .displayDate {
        display: block;
        position: relative;
        top: 2rem;

        .date {
          color: #FFFFFF;
          text-align: center;
          opacity: 60%;
          left: 2%;
          position: relative;
          font-size: 14px;
        }
      }

      .country {
        text-align: center;
        width: 100%;
        position: absolute;
        height: 14vh;
        top: 4rem;
        left: -2%;

        .favourite {

          button {
            top: -3px;
            left: -3%;

            .isFav {
              left: -30%;
            }

            .addedToFav {
              left: -23.5%;
            }
          }
        }
      }

      .sunny {
        width: 100%;
        margin: 0;
        top: 15rem;
        position: relative;
        left: 50%;

        img {
          left: -2%;
        }

        p {
          left: 0%;
          font-size: 52px;
        }

        .degree {
          left: -0.5rem;
        }

        .fahrenite {
          left: -0.7rem;
        }

        h6 {
          left: -2%;
          position: relative;
        }
      }

    }

    .header-footer {
      border-top: solid 1px #ffffff4d;
      background: #ffffff1a;
      height: 8rem;
      top: 29rem;
      padding: 0;

      .details {
        left: 0;
        margin-left: 0;
        font-size: 13px;
        width: 100%;
        height: 100%;
        padding: 0;

        .temperature {
          margin-left: 5%;

          h4 {
            font-size: 18px;
          }
        }

        .precipitation {
          margin-left: 0;

          h4 {
            font-size: 18px;
          }
        }

        .humidity {
          margin-left: 0;

          h4 {
            font-size: 18px;
          }
        }

        .wind {
          margin-left: 0;

          h4 {
            font-size: 18px;
          }
        }

        .visibility {
          margin-left: 0;

          h4 {
            font-size: 18px;
          }
        }
      }
    }
  }
}
