// favourites 

@media screen and (max-width: 400px) {

    .container {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 104%;
  
      .row {
  
        .header-favourite {
          display: block;
          background-color: #FFFFFF;
          height: 59px;
          width: 106.4%;
          position: relative;
          left: -3.2%;
  
          .arrow {
            width: 25px;
            position: relative;
            top: 27%;
            left: 6%;
          }
  
          p {
            font-size: 22px;
            position: relative;
            top: -21%;
            margin-left: 24%;
            color: #292F33;
            font-weight: 500;
          }
  
          .blackSearch {
            width: 24px;
            position: relative;
            top: -98%;
            left: 88%;
          }
        }
  
        .favouriteCities {
          margin-left: -2%;
          top: 108%;
          height: 500px;
  
          .emptyList {
            position: relative;
            top: 24%;
  
            p {
              width: 100%;
              left: 2%;
            }
          }
  
          .favouriteList {
            top: 4%;
            width: 93%;
            margin-left: 1%;
  
            p {
              position: relative;
              top: -2%;
              margin-left: 1%;
              color: #FFFFFF;
              font-size: 13px;
  
              button {
                left: 26%;
                top: 1%;
              }
            }
  
            .favourite {
              width: 100%;
              margin: 0;
              top: 2%;
              height: 85px;
  
              h6 {
                top: 14%;
                font-size: 16px;
                margin-left: 3%;
                color: $yellow;
              }
  
              .temperature {
                width: 100%;
                margin-left: 0;
                height: 50px;
  
                img {
                  top: 23%;
                  left: 3%;
                }
  
                p {
                  width: 100%;
                  left: 0;
                  margin-left: 17%;
                  top: 32%;
                  font-size: 20px;
  
                  span {
                    top: 1%;
                    left: -5px;
                  }
                }
  
                .condition {
                  width: 100%;
                  margin-left: 0;
                  left: 6%;
                  text-align: center;
                  top: -18px;
                  font-size: 16px;
                }
              }
  
              .image {
                margin: 0;
                left: 87%;
                top: -59%;
                width: 24px;
                height: 22px;
              }
            }
          }
        }
      }
    }
  
    .modal{
      padding-right: 0px;
      display: block;
      width: 280px;
      height: 138px;
      margin-left: 6%;
      border-radius: 4px;
  
      .modal-body{
        top: -6px;
      color: rgba(0,0,0,0.54);
      left: -3%;
      }
  
      .modal-footer{
        top: -13px;
      margin: 0;
  
      .close{
        color: #673AB7;
      }
  
      .save{
        background-color: white;
      color: #673AB7;
      font-weight: 500;
      }
      }
    }
  }