@import '../../variables.scss';

.search-list {
  position: absolute;
  top: 3.375rem;
  left: 0;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 200;

  .dataList {
    height: 73px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    position: relative;
    margin-top: -8px;
    width: calc(100vw - 17.4rem);

    a:focus,
    a:hover {
      outline: none;
      text-decoration: none;

      h6 {
        color: $yellow;
      }
    }

    &:focus {
      outline: none;
      background-color: rgba(255, 255, 255, 0.2);

      h6 {
        color: $yellow;
      }

      span {
        text-decoration: none;
        color: white;
      }
    }

    h6 {
      position: relative;
      top: 33%;
      margin-left: 1.5%;
      font-weight: 500;
      font-size: 16px;
    }

    .temperature {
      position: relative;
      width: 231px;
      margin-left: 37%;
      top: -6%;

      img {
        width: 44px;
        height: 50px;
        position: relative;
        top: -7px;
        left: 21%;
      }

      p {
        font-size: 32px;
        width: 73px;
        color: #FFFFFF;
        font-weight: 500;
        position: absolute;
        left: 40%;
        top: -9px;

        span {
          content: "\00B0";
          font-size: 16px;
          position: relative;
          left: -5%;
          top: -3px;
        }
      }

      .condition {
        font-size: 19px;
        width: 200px;
        position: relative;
        margin-left: 40%;
        top: -25px;
        top: -46px;
      }
    }

    span {
      font-size: 20px;
      position: absolute;
      left: 95%;
      top: 28%;

      .icon-heart-empty {
        position: relative;
        left: -12%;
      }

      .fa {
        position: relative;
        left: -12%;
        color: $yellow;
      }
    }
  }
}

@media screen and (max-width: 400px) {


  .search-list {
    width: 100%;

    .dataList {
      width: 96%;
      left: 2%;

      h6 {
        top: 14%;
        font-size: 16px;
        margin-left: 3%;
        color: $yellow;
      }

      .temperature {
        width: 100%;
        margin-left: 0;
        height: 50px;

        img {
          top: 7%;
          left: 3%;
        }

        p {
          width: 17%;
          left: 17%;
          top: 23%;
          font-size: 20px;

          span {
            top: 1%;
            left: -5px;
          }
        }

        .condition {
          width: 100%;
          margin-left: 1rem;
          top: -70%;
          font-size: 16px;
          left: 0;
          text-align: center;
        }
      }

      span {
        left: 89%;
      }
    }
  }
}
