@import '../../variables.scss';

body {
  font-family: "Roboto", sans-serif;
  background: url('../../../assets/background.png') center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;


  .header-favourite {
    display: none;
  }

  .header {
    height: 110px;
    width: calc(100vw - 18rem);
    position: relative;
    left: 7.5rem;
    top: 2rem;

    .input-group {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;

      .header-favourite {
        display: none;
      }

      .sideNavBar {
        display: none;
      }

      img {
        width: 140px;
        height: 30px;
        margin-left: 0% !important;
      }

      .form-outline {
        position: relative;
        width: 36%;
        text-align: right;

        .searchIcon {
          display: none;
        }

        input {
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 3px;
          color: white;
          width: 100%;
          height: 40px;
          border: 1px solid;
          border-color: rgba(255, 255, 255, 0.5);
        }

        input::placeholder {
          color: $white;
          opacity: 80%;
        }

        .form-label {
          position: relative;
          top: -48%;
          left: 4%;
          color: $white;
          font-size: 16px;
        }

        img {
          position: absolute;
          right: 1rem;
          top: 0.9rem;
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    // }
  }

  .title {
    font-size: 14px;
    height: 25px;
    width: calc(100vw - 17.4rem);
    position: absolute;
    top: 9rem;
    left: 7.5rem;
    right: 7.5rem;
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    .btn-router {

      button {
        border: none;
        z-index: 2;
        border-bottom: 2px solid $bg-color;
        color: $white;
        font-size: 14px;
        background-color: $bg-color;
        margin-right: 1rem;

        &:focus {
          outline: none;
        }

        &.active {
          border-bottom: solid 2px $yellow;
          color: #FFD639;
        }
      }

      .home {
        width: 4.3rem;
        position: relative;
      }

      .favourite {
        width: 6.25rem;
        position: relative;
      }

      .recent {
        width: 8.75rem;
        position: relative;
      }
    }

    .date {
      position: relative;
      color: #FFFFFF;
      text-align: right;
      margin-right: 0.625rem;
      margin-bottom: 0;
    }
  }

  #mySidebar {
    display: none;
  }

}

@media screen and (max-width: 400px) {

  body {
    margin: 0%;
    padding: 0%;
    max-width: inherit;
    width: 116%;
    position: relative;
    left: -6%;
    height: 688px;
    background-image: url('../../../assets/background_android.png');

    .header-favourite {
      display: block;
      background-color: #FFFFFF;
      height: 59px;
      width: 100%;
      position: relative;
      left: -3.2%;
      z-index: 100;
      top: -70px;

      .arrow {
        width: 25px;
        position: relative;
        top: 27%;
        left: 8%;
      }

      p {
        font-size: 22px;
        position: relative;
        top: -21%;
        margin-left: 24%;
        color: #292F33;
        font-weight: 500;
      }

      .blackSearch {
        width: 24px;
        position: relative;
        top: -98%;
        left: 88%;
      }
    }

    .header {
      height: 70px;
      width: 100%;
      margin: 0;
      padding: 0;
      left: 0;

      .input-group {

        img {
          position: relative;
          left: 9%;
        }

        .sideNavBar {
          display: block;

          img {
            width: 24px;
            height: 15px;
            position: relative;
            top: 65%;
            left: 126%;
          }
        }

        .form-outline {

          input {
            display: none;
          }

          img {
            display: none;
          }

          .searchIcon {
            display: block;
            position: relative;
            top: 0.1rem;
            left: 49%;
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    .w3-sidebar {
      display: block;
      width: 70%;
      z-index: 10;
      top: 0;

      button {
        border: none;
        z-index: 2;
        border-bottom: 2px solid $bg-color;
        color: $white;
        font-size: 14px;
        background-color: $bg-color;
        margin-right: 2%;

        &:active,
        &:focus {
          color: $yellow;
          outline: none;
          border-bottom: 2px solid $yellow;
        }
      }

      .home {
        width: 70px;
        position: relative;
        top: 4%;
        left: 8%;
        color: #707070;
        font-size: 17px;

        &:active,
        &:hover {
          color: black;
          border: none;
        }
      }

      .favourite {
        width: 70px;
        position: relative;
        top: 11%;
        left: -19.5%;
        color: #707070;
        font-size: 17px;

        &:active,
        &:hover {
          color: black;
          border: none;
        }
      }

      .recent {
        width: 158px;
        position: relative;
        top: 14%;
        left: 3%;
        color: #707070;
        font-size: 17px;

        &:active,
        &:hover {
          color: black;
          border: none;
        }
      }
    }

    #searchBar {
      display: block;
      width: 100%;
      left: 0;
      top: 0%;
      z-index: 2000;

      .arrow {
        width: 25px;
        position: relative;
        top: 3%;
        left: 1rem;
        z-index: 2;
      }

      input {
        position: relative;
        width: 66%;
        top: 4%;
        left: 2rem;
        height: 40px;
        border: none;
        border-style: none;
      }

      .cancelSearch {
        position: relative;
        left: 2.8rem;
        top: 1.5rem;
      }
    }

    .title {
      display: none;
    }

    .lineBar {
      display: none;
    }
  }
}
