<app-weather-report (cityNames)="displayCity($event)"></app-weather-report>

<div class="container">
    <div class="row">
        <div class="header-favourite">
            <a href="/home">
              <img class="arrow" src="../../../assets/left-arrow.png" alt=""></a>
            <p>Favourites</p>
            <img (click)="openSearch()" class="blackSearch" src="../../../assets/black_search.png" alt="">
          </div>
        <div class="favouriteCities">
            <div *ngIf="favouriteLength === 0" class="emptyList">
                <img src="../../../assets/favourite.png" alt="">
                <p>No Favourites added</p>
            </div>
            <div *ngIf="favouriteLength !== 0" class="favouriteList">
                <p *ngIf="favouriteLength > 1">
                    {{favouriteLength}} Cities added as favourite
                    <button type="button" data-toggle="modal" data-target="#exampleModalCenter">Remove All</button>
                </p>
                <p *ngIf="favouriteLength === 1">
                    {{favouriteLength}} City added as favourite
                    <button type="button" data-toggle="modal" data-target="#exampleModalCenter">Remove All</button>
                </p>
                <div class="favourite" *ngFor="let favourite of favouriteList">
                    <h6>{{favourite.location}}, {{favourite.country}}</h6>
                    <div class="temperature">
                        <!-- <img [src]="getIcon(favourite.description)" alt=""> -->
                        <img [src]="favourite.icon" alt="">
                        <p>{{favourite.temperature}} <span>&#176;C</span> </p>
                        <p class="condition">{{favourite.description | titlecase}}</p>
                    </div>
                    <img class="image" (click)="removeFavourite(favourite.location)"
                        src="../../../assets/favourite_Active.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure want to remove all the favourites?
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal">No</button>
                <button type="button" class="save" (click)="clearAll()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>