@import '../../variables.scss';

.home-favourite {
  position: absolute;
  top: 11rem;
  width: calc(100vw - 17.4rem);
  left: 7.5rem;
  height: 70%;

  .favouriteCities {
    position: absolute;
    height: 100%;

    .favourites {
      position: absolute;
      top: 1.5rem;
      left: 0;
      right: 1.5rem;
      height: 1rem;
      padding: 0 0.625rem;
      color: #FFFFFF;
      font-family: Roboto;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      width: calc(100vw - 17.4rem);

      p {
        position: relative;
        color: #FFFFFF;
        font-size: 13px;
        margin: 0;
      }

      button {
        border: none;
        z-index: 2;
        color: #FFFFFF;
        font-size: 13px;
        background-color: rgba(255, 255, 255, 0);

        &:focus {
          outline: none;
        }
      }
    }
  }
}


.modal {
  width: 28rem;
  height: 14.5rem;
  position: absolute;
  top: 14rem;
  margin-left: 30rem;
  border-radius: 2px;

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;

    .modal-content {
      border: none;
      width: 106.3%;

      .modal-body {
        font-size: 15px;
        text-align: center;
        color: black;
        position: relative;
        top: 13px;
      }

      .modal-footer {
        border: none;
        background-color: rgba(255, 255, 255, 0);
        position: relative;
        margin-right: 25%;
        top: 30px;

        .close {
          font-size: 15px;
          background-color: rgba(255, 255, 255, 0);
          color: black;
          width: 65px;
          height: 35px;
          text-align: center;
          opacity: 1;
          font-weight: 500;
          line-height: 18px;

          &:focus {
            outline: none;
          }
        }

        .save {
          border: none;
          background-color: #F76B1C;
          color: white;
          font-size: 15px;
          width: 106px;
          height: 35px;
          border-radius: 2px;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {


  .home-favourite {
    height: 91%;
    width: 100%;
    left: 0;
    top: 4rem;

    .favouriteCities {
      width: 100%;

      .favourites {
        top: 4%;
        width: 93%;
        margin-left: 1%;

        p {
          position: relative;
          top: -2%;
          margin-left: 1%;
          color: #FFFFFF;
          font-size: 13px;
        }

          button {
            left: 26%;
            top: 1%;
            z-index: 1000;
          }
      }
    }
  }

  .modal {
    padding-right: 0px;
    display: block;
    width: 280px;
    height: 138px;
    margin-left: 6%;
    border-radius: 4px;

    .modal-dialog {

      .modal-content {

        .modal-body {
          top: -4px;
          color: rgba(0, 0, 0, 0.54);
          left: -3%;
        }

        .modal-footer {
          top: -7px;
          margin-right: 0;

          .close {
            opacity: 1;
            color: #673AB7;
            background-color: white;
          }

          .save {
            background-color: white;
            color: #673AB7;
            font-size: 17px
          }
        }
      }
    }
  }
}
