<app-weather-report (cityNames)="displayCity($event)"></app-weather-report>

<div class="home-favourite">
    <div *ngIf="data.length === 0" class="emptyList">
        <app-empty-list [message]="'No Favourites added'"></app-empty-list>
    </div>
    <div *ngIf="data.length > 0" class="favouriteCities">
        <div class="favourites">
            <p *ngIf="data.length == 1">{{data.length}} City added as favourite</p>
            <p *ngIf="data.length >  1">{{data.length}} Cities added as favourite</p>
            <button type="button" data-toggle="modal" data-target="#exampleModalCenter">Remove All</button>
        </div>
        <app-lists [data]="data"></app-lists>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure want to remove all the favourites?
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal">No</button>
                <button type="button" class="save" (click)="clearAll()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>